<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <!-- nuget.config reference - https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file -->
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/3DHDSoft/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%GH_PKG_USER_ORG%" />
      <add key="ClearTextPassword" value="%GH_PKG_TOKEN_ORG%" />
    </github>
  </packageSourceCredentials>
</configuration>
